<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nikivi.ask.create.share</string>
	<key>category</key>
	<string>Mine</string>
	<key>connections</key>
	<dict>
		<key>150EEA44-C798-4560-8F1A-0AB3ABA06737</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C6C85EC-6FB7-46B9-809F-F773E42FC217</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78BD8647-1014-45B5-BA89-4B17859D258E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F054925B-E63D-4611-9A90-88C916902F29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7D35E34-B843-43B1-997D-C8BA67F0F474</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>150EEA44-C798-4560-8F1A-0AB3ABA06737</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nikita Voloboev</string>
	<key>description</key>
	<string>Interface to web submissions</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Ask Create Share</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:URL}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9C6C85EC-6FB7-46B9-809F-F773E42FC217</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>ask</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>D7D35E34-B843-43B1-997D-C8BA67F0F474</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ask</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>./alfred-ask-create-share search -q "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Make web submissions on the Internet</string>
				<key>title</key>
				<string>Ask</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>150EEA44-C798-4560-8F1A-0AB3ABA06737</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>edit submissions</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Edit web submissions</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>78BD8647-1014-45B5-BA89-4B17859D258E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/nikitavoloboev/alfred-ask-create-share/edit/master/workflow/submissions.csv</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F054925B-E63D-4611-9A90-88C916902F29</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Details on how to use this workflow are found in the GitHub repo attached to the workflow. 

Double click this workflow in sidebar -&gt; Open website.

Post any issues and feature requests you have there. 💜</string>
	<key>uidata</key>
	<dict>
		<key>150EEA44-C798-4560-8F1A-0AB3ABA06737</key>
		<dict>
			<key>note</key>
			<string>Search through web submissions</string>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>78BD8647-1014-45B5-BA89-4B17859D258E</key>
		<dict>
			<key>note</key>
			<string>Add more submissions to search over</string>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>9C6C85EC-6FB7-46B9-809F-F773E42FC217</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>D7D35E34-B843-43B1-997D-C8BA67F0F474</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>F054925B-E63D-4611-9A90-88C916902F29</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>2.7</string>
	<key>webaddress</key>
	<string>https://github.com/nikitavoloboev/alfred-ask-create-share#readme</string>
</dict>
</plist>
